body, html {
    background-color:#ffffff;
    color:#1a1a1a;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
    max-width: 70%; 
}

p#logo-name {
    font-size:1.5rem;
}

div#nav-right {
    width:fit-content;
    display:flex;
    gap: 1.25rem;
}

/* mobile styling */
@media (max-width: 600px) {
    nav {
        padding:0.25rem;
        max-width:90%;
    }

    p#logo-name {
        font-size:1rem;
    }   
}